.projimg{
  height:80px;
}
.p{
  font-size: 12px
}

.buckets div {
  position: absolute;
  animation: bucket_rotate 200s infinite linear;
  top: 50%;
  left: 50%;
}

@keyframes bucket_rotate {
  0% { 
    transform: rotate(0) translateX(350px) rotate(0); 
  }
  70% { 
    transform: rotate(350deg) translateX(350px) rotate(-360deg); 
  }
}

.buckets div:nth-child(2) {
  animation-delay: -25s;
  width: 130px
}

.buckets div:nth-child(3) {
  animation-delay: -50s;
  width: 130px
}

.buckets div:nth-child(4) {
  animation-delay: -75s;
  width: 130px
}

.buckets div:nth-child(5) {
  animation-delay: -100s;
  width: 130px
}

.buckets div:nth-child(6) {
  animation-delay: -125s;
  width: 130px
}

.buckets div:nth-child(7) {
  animation-delay: -150s;
  width: 130px
}

.buckets div:nth-child(8) {
  animation-delay: -175s;
  width: 130px
}