#footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background: linear-gradient(transparent,#484848,black,black);
   color: white;
   font-family: 'Poiret One', cursive;
   
}
#footerheading{
    text-align: center;
}
#footerrow{
    width: 100%;
    display: flex;
    align-items: center;
}
.footercontent{
    width: 33%;
    height: 200px;
}
#CNlogo{
    height:60px;
    display: flex;
    align-items: center;
}
.CNimg{
    height:50px;
}
.CNlogo{
    height:30px;
}
#CNlink a{
    color: white;
    text-decoration: none;
}
.CNinfo{
    width: 50%;
}
#commentpage{
    width: 100%;
    height:100%;    
    background:linear-gradient(to bottom right,#2E46EC,#2EA0EC,#2EA0EC,#2ED1EC,#2ED1EC,#2ED1EC);
}
#grass{
    height:100%;
    width: 100%;
    background:linear-gradient(to  bottom,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,#0FCD36,#0FCD36,#0FCD36);
}
#sun{
    width: 100%;
    height:100%;    
    background-image: radial-gradient(farthest-side at 100% 20%,#EDFF03,#EDFF03,#EDFF03,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent);
}
#viewername{
    font-size: 12px;
}
#viewermail{
    font-size: 12px;
}
#viewercoment{
    font-size: 12px;
    width: 80%;
    height:100px;
    resize: none;
}
#commentbox{
    position: absolute;
    height:400px;
    width: 500px;
    left:20px;
    top:100px;
    
}
.commentsbox{
  border:1px;
  width: 40%;
  height: 200px;
  position: absolute;
  top:120px;
  left: 40%;
  overflow-y: scroll;
  
}
.comentholder{
  font-family: 'Neucha', cursive;
  border-radius: 60px;
  border:1px;
  width: 80%;
  background-color:white;
  
}
.postedname{
    position: relative;
    left:30px;
    top:15px;
    width:70%;
    background-color:black;
    color:white;
}
.webcomment{
    position: relative;
    top:-10px;
    left:4px;
}
.postedcomm2ent{
  border:1px solid black;
  border-radius:10px;
  width: 80%;
  position: relative;
  left:20px;
}