#footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background: linear-gradient(transparent,#484848,black,black);
   color: white;
   font-family: 'Poiret One', cursive;
   
}
#footerheading{
    text-align: center;
}
#footerrow{
    width: 100%;
    display: flex;
    align-items: center;
}
.footercontent{
    width: 33%;
    height: 200px;
}
#CNlogo{
    height:60px;
    display: flex;
    align-items: center;
}
.CNimg{
    height:50px;
}
.CNlogo{
    height:30px;
}
#CNlink a{
    color: white;
    text-decoration: none;
}
.CNinfo{
    width: 50%;
}
#commentpage{
    width: 100%;
    height:100%;    
    background:linear-gradient(to bottom right,#2E46EC,#2EA0EC,#2EA0EC,#2ED1EC,#2ED1EC,#2ED1EC);
}
#grass{
    height:100%;
    width: 100%;
    background:linear-gradient(to  bottom,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,#0FCD36,#0FCD36,#0FCD36);
}
#sun{
    width: 100%;
    height:100%;    
    background-image: radial-gradient(farthest-side at 100% 20%,#EDFF03,#EDFF03,#EDFF03,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent);
}
#viewername{
    font-size: 12px;
}
#viewermail{
    font-size: 12px;
}
#viewercoment{
    font-size: 12px;
    width: 80%;
    height:100px;
    resize: none;
}
#commentbox{
    position: absolute;
    height:400px;
    width: 500px;
    left:20px;
    top:100px;
    
}