body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, silver, white, gray);
    font-family: 'Merienda One', cursive;
}
html,body{
    height:100%;
}
.fontst{
  font-family: 'Merienda One', cursive;
}
.projectinfo{
    width: 210px;
    background: linear-gradient(to right, lightyellow, lightblue, #c3cbd8);
}
.projimg{
  width:220px;
  height:140px;
  padding: 10px;
  border-radius: 40px;
}
.p{
  font-size: 12px;
  color:black;
  background: linear-gradient(to right, lightyellow, lightblue, #c3cbd8);
  border: 1px solid red;
  padding: 10px;
  border-radius: 25px;
  width:230px;
}

.buckets div {
  position: absolute;
  animation: bucket_rotate 200s infinite linear;
  top: 65%;
  left: 45%;
  
}

@keyframes bucket_rotate {
  0% { 
    transform: rotate(0) translateX(550px) rotate(0); 
  }
  70% {
    transform: rotate(350deg) translateX(550px) rotate(-360deg); 
  }
}

.buckets div:nth-child(1){
  width: 200px;
  
}
.buckets div:nth-child(2) {
  animation-delay: -25s;
  width: 200px;
}

.buckets div:nth-child(3) {
  animation-delay: -50s;
  width: 200px;
}

.buckets div:nth-child(4) {
  animation-delay: -75s;
  width: 200px;
}

.buckets div:nth-child(5) {
  animation-delay: -100s;
  width:200px;
}

.buckets div:nth-child(6) {
  animation-delay: -125s;
  width: 200px;
}

.buckets div:nth-child(7) {
  animation-delay: -150s;
  width: 200px;
}

.buckets div:nth-child(8) {
  animation-delay: -175s;
  width: 200px;
}
.separater{
  height:20%;
}
#body{
  height:700px;
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  
}


/* Fading animation */
.fade {
  -webkit-animation-name: slideimg;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slideimg {
  from {opacity: .4;}
  to {opacity: 1;}
}

@keyframes slideimg {
  from {opacity: .4;} 
  to {opacity: 1;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px;}
}
.smaller{
  height: 400px;
}
.abouttitel{
  text-align: center
}
.portfoliopic{
  border-radius: 50%;
}
#commentpage{
  height:100%;
  width: 100%;
  background: linear-gradient(#8CEBFF);
}