#navv{
    background:-webkit-linear-gradient(black,#4c4c4c, transparent);
    font-family: 'Merienda One', cursive;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
}

.fontc{
    color:white;
}
.navname{
    height:70px;
    width: 300px
}
#navbutton{
    background:linear-gradient(gray,white,gray);
}
.navdata{
    width: 500px;
    position: fixed;
    top:30px;
    left:300px;
}
.navseparater{
    height:150px;
}