body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, lightgreen, #12d8fa, pink);
}
html,body{
    height:100%;
}
#container{
    height: 120%;
}
#main{
    overflow: auto;
    padding-bottom: 100px;
}
#footer{
    background-color: #C0C0C0;
    position: absolute;
    width: 100%;
    margin-top: -100px;
}
.fone{
  text-align: center;
  
}
#finfo{
  display: flex;
  align-items: center;
}
.in{
  width: 33.333%;
  position: relative;
}
#navv{
  background-color: #C0C0C0;
}
.fontc{
  color:white;
  font-family: 'Poiret One', cursive;
}
.row{
    width: 100%;
    margin-right: 10px;
    margin-left:  10px; 
}
.imgss{
    margin: auto;
    width:40%;
}
.smaller{
    position: inherit;
    height: 400px;
    width: 100%;
}
.projectinfo{
    width: 210px;
    background: linear-gradient(to right, lightyellow, lightblue, pink);
}
.projimg{
  width:220px;
  height:140px;
  padding: 10px;
  border-radius: 40px;
}
.p{
  font-size: 12px;
  background: linear-gradient(to right, lightyellow, lightblue, pink);
  border: 1px solid red;
  padding: 10px;
  border-radius: 25px;
}

.buckets div {
  position: absolute;
  animation: bucket_rotate 200s infinite linear;
  top: 65%;
  left: 45%;
  
}

@keyframes bucket_rotate {
  0% { 
    transform: rotate(0) translateX(500px) rotate(0); 
  }
  70% { 
    transform: rotate(350deg) translateX(500px) rotate(-360deg); 
  }
}
.buckets div:nth-child(1){
  width: 200px;
  
}
.buckets div:nth-child(2) {
  animation-delay: -25s;
  width: 200px;
}

.buckets div:nth-child(3) {
  animation-delay: -50s;
  width: 200px;
}

.buckets div:nth-child(4) {
  animation-delay: -75s;
  width: 200px;
}

.buckets div:nth-child(5) {
  animation-delay: -100s;
  width:200px;
}

.buckets div:nth-child(6) {
  animation-delay: -125s;
  width: 200px;
}

.buckets div:nth-child(7) {
  animation-delay: -150s;
  width: 200px;
}

.buckets div:nth-child(8) {
  animation-delay: -175s;
  width: 200px;
}
.separater{
  height:20%;
}